* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #111;
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px);
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

#mainVisual {
  position: relative;
  background: linear-gradient(45deg, green, skyblue, #0f0, purple, orange);
  background-size: 400%;
  background-position: 0 50%;
  animation: changeGradient 10s linear infinite alternate;
  height: 100vh;
  font-family: "Titillium";
}
#mainVisual:before {
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, 0, transparent 80px);
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#mainVisual .inner {
  filter: url("#gooey");
  position: relative;
  height: 100vh;
}
#mainVisual .bottom {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  background-color: #000;
}