$main-green: #0d6d48;
$main-red: #c61644;
$main-brown: #fab276;
$font-color: #111;
$gray-color: #ccc;
$bg-color: #eff6f8;

// font-size
$font-large: 42px;
$font-big: 35px;
$font-medium: 20px;
$font-normal: 16px;
$font-small: 12px;
