@import "_vars";
@import "_mixin";
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Do Hyeon", "Noto Sans KR", "Playball", sans-serif;
  word-break: keep-all;
  overflow-x: hidden;
  background-image: url("../images/main/bg_container_inner.png");
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  nav {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    #gnb {
      display: flex;
      transition: all 0.3s ease-in-out;
      .menu {
        display: none;
        position: absolute;
        right: 8%;
        top: 20px;
        span {
          display: block;
          background: $main-red;
          height: 4px;
          width: 35px;
          &:nth-child(2) {
            margin-top: 8px;
            width: 50px;
          }
        }
        p {
          margin-top: 10px;
          color: $main-green;
        }
      }
      .logo {
        left: 100px;
        position: absolute;
      }
      .nav {
        width: 50%;
        margin: 0 25%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        height: 80px;
        > ul {
          display: flex;
          > li {
            .depth01 {
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 150px;
              font-size: 21px;
              color: #fff;
              font-weight: 700;
              letter-spacing: 3px;
            }
            .depth02 {
              transition: all 0.4s ease-in-out;
              li {
                font-family: "Playball";
                color: #404040;
                font-weight: 700;
                font-size: 14px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
      .login {
        position: absolute;
        right: 70px;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          li {
            color: #444;
            margin-right: 18px;
            font-size: $font-small;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              right: -10px;
              background-color: #555;
            }
            &:last-child {
              margin-right: 0;
              &:after {
                content: none;
              }
            }
          }
        }
      }
      &.gnbOn {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 20px #777;
        .nav .depth01 {
          color: $main-red;
        }
      }
    }
  }
}

//header end

#main {
  .containerMain {
    video {
      width: 100%;
    }
  }
}

//main end
section {
  height: 100%;
  padding-bottom: 10%;
  &:last-child {
    height: auto;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
    &:after {
      position: absolute;
      font-family: "Playball" !important;
      color: #f6f6f6;
      white-space: nowrap;
      top: -50%;
      font-size: 80px;
      z-index: -1;
      transform: translateX(-50%);
    }
  }
}

#section01 {
  .container {
    height: 100%;
    position: relative;
    overflow: hidden;
    .title h1 {
      &:after {
        left: 50%;
        top: -50%;
        content: "EVENT OF THE MONTH";
      }
    }
    .swiper-wrapper {
      height: 400px;
      width: 1200px;
      margin: 0 auto;
      .swiper-slide {
        overflow: hidden;
        width: 1200px !important;
        background-size: cover;
        background-position: 50% 50%;

        &:nth-child(1) {
          background-image: url("../images/main/bg_scratch_0928.jpg");
          img {
            width: 37%;
            margin: 5vw 5vw;
          }
        }
        &:nth-child(2) {
          background-image: url("../images/main/bg_bag_221028.jpg");
          a {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;
            align-items: flex-start;
            img {
              width: 70%;
              margin-left: 9vw;
              &:nth-child(1) {
                margin-top: 4.5vw;
                margin-bottom: 1vw;
              }
            }
          }
        }
        &:nth-child(3) {
          background-image: url("../images/main/bg_eatz2210.jpg");
          a {
            display: flex;
            flex-direction: column !important;
            justify-content: center;
            margin-top: 10%;
          }
          img {
            width: 26%;
            margin: 0 0 1vw 10vw;
            &:last-child {
              margin-top: 1vw;
              margin-bottom: 0;
            }
          }
        }
        &:nth-child(4) {
          background-image: url("../images/main/bg_sweetW.png");
          img {
            margin-left: 23%;
            height: 100%;
          }
        }
        &:nth-child(5) {
          background-image: url("../images/main/mon220928_bg.jpg");
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 8%;
          }
          img {
            width: 28%;
            margin-left: 15%;
            margin-bottom: 2%;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &.slideOn {
          img {
            animation: moveUp 1s 0.2s 1;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 70%;
      background-position: center;
      background-size: 50% auto;
      background-repeat: no-repeat;
      width: 70px;
      height: 70px;
    }
    .swiper-button-prev {
      background-image: url("../images/main/left.png");
    }
    .swiper-button-next {
      background-image: url("../images/main/right.png");
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
    .swiper-pagination {
      bottom: 1%;
    }
    .swiper-pagination-bullet {
      transition: all 0.3s ease-in-out;
      width: 13px;
      height: 13px;
    }
    .swiper-pagination-bullet-active {
      width: 70px;
      border-radius: 30px;
      background-color: $main-red;
    }
  }
}

//section01 end

#section02 {
  .title h1 {
    &:after {
      left: 50%;
      top: -50%;
      content: "NEW PRODUCT OF THE MONTH";
    }
  }
  .contents {
    background-image: url(../images/main/doug.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    background-size: contain;
    background-position: 50%;
    height: 1050px;
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 55%;
      justify-content: space-around;
      li {
        cursor: pointer;
        flex-basis: 45%;
        transition: all 0.25s ease-in-out;
        width: 150px;
        height: 270px;
        &:hover {
          .contentsTxt {
            backdrop-filter: blur(4px);
            display: flex;
          }
        }
        .contentsTxt {
          text-align: center;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 19px;
          padding: 25px 20px;
          font-family: "Noto Sans";
          transition: all 0.15s ease-in-out;
          line-height: 2;
          align-items: center;
          display: none;
          justify-content: center;
          flex-direction: column;
          h1 {
            font-size: clamp(15px, 2.3vw, 20px);
            font-weight: 700;
          }
          p {
            font-weight: 700;
            font-size: clamp(15px, 2vw, 19px);
            color: $main-red;
          }
          h2 {
            transition: all 0.3s ease-in-out;
            font-size: clamp(11px, 1.5vw, 16px);
            line-height: 1.2;
            font-weight: 700;
            margin-bottom: 15px;
          }
          img {
            width: 80%;
            height: auto;
          }
        }
      }
    }
  }
}

// section02 end

#section03 {
  .title h1 {
    &:after {
      left: 50%;
      top: -50%;
      content: "EVENT";
    }
  }
  .contents {
    ul {
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      li {
        cursor: pointer;
        width: 300px;
        .inner {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0%;
            background-color: rgba(0, 0, 0, 0.6);
            left: 0;
            transition: all 0.3s ease-in-out;
          }
          img {
            width: 300px;
            height: 500px;
          }
          p,
          span {
            font-family: "Playball";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            z-index: 1;
            width: 80%;
            text-align: center;
            line-height: 1.7;
            bottom: -20%;
            transition: all 0.25s ease-in-out;
            font-weight: 700;
          }
          p {
            font-size: 26px;
          }
        }
        &.desc {
          .inner {
            &:after {
              height: 100%;
            }
            p {
              bottom: 50%;
            }
            span {
              bottom: 24%;
            }
          }
        }
      }
    }
  }
}

//section03 end

#section04 {
  display: flex;
  align-items: center;
  .contents {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/main/store01.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    border-radius: 80px;
    background-attachment: fixed;
    li {
      letter-spacing: 2px;
      width: 34%;
      height: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        width: 300px;
        height: 300px;
        background-color: rgba($main-brown, 0.8);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 14px 18px #333;
        transition: all 0.25s ease-in-out;
        &.rotate {
          animation: rotate 1.5s infinite;
        }
      }
      h2,
      h3 {
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        margin-top: 30px;
      }
      h3 {
        font-weight: 500;
        font-size: $font-medium;
      }
    }
  }
}

// section04 end

#footer {
  .container {
    width: 100vw !important;
    .sns {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      position: relative;
      &:before,
      &:after {
        content: "";
        width: 36%;
        height: 1px;
        background-color: $main-red;
        position: absolute;
        top: 30%;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      li {
        text-align: center;
        width: 150px;
        img {
          margin-bottom: 20px;
          width: 50%;
        }
        p {
          font-size: $font-normal;
          letter-spacing: 2px;
        }
      }
    }
    .map {
      border-top: 5px solid $main-green;
      border-bottom: 5px solid $main-green;
      justify-content: center;
      align-items: center;
      height: 700px;
      position: relative;
      transition: all 0.25s ease-in-out;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      img {
        height: 450px;
        &:nth-child(2) {
          height: 140px;
        }
      }
      button {
        cursor: pointer;
        position: absolute;
        right: 150px;
        top: 70px;
        border: none;
        background-color: #0d6d48;
        padding: 9px 14px;
        border-radius: 100%;
        font-size: 24px;
        color: #fff;
        font-weight: 700;
      }

      &.mapClose {
        transition: all 0.25s ease-in-out;
        display: none;

        button,
        img {
          display: none;
        }
      }
    }
    .contents {
      position: relative;
      font-family: "Playball";
      padding: 40px 0;
      background-color: #f1f1f1;
      font-size: 13px;
      .footer01 {
        display: flex;
        margin: 0 auto;
        width: 1200px;
        margin-bottom: 15px;
        li {
          margin-right: 20px;
          position: relative;
          font-size: 11px;
          &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            right: -10px;
            background-color: #aaa;
          }
          &:last-child {
            margin-right: 0;
            &:after {
              content: none;
            }
          }
        }
      }
      .footer02 {
        margin: 0 auto;
        width: 1200px;
        margin-bottom: 15px;
        line-height: 1.8;
        font-size: 10px;
      }
      .footer03 {
        font-size: 9px;
        margin: 0 auto;
        width: 1200px;
        display: flex;
      }
      .select {
        position: absolute;
        right: 200px;
        bottom: 20px;
        select {
          height: 36px;
          width: 160px;
          border: none;
          border-bottom: 1px solid #555;
          background: none;
          padding: 0 14px;
        }
        button {
          border: 1px solid #555;
          margin-left: 20px;
          padding: 10px 20px;
          border-radius: 25px;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

//미디어쿼리 반응형

@media all and (max-width: 1300px) {
  header nav #gnb {
    &.menuOn {
      .nav {
        height: 100vw !important;
      }
      .login {
        display: block;
        top: 40px;
      }
    }
    .menu {
      display: block;
    }
    .login {
      display: none;
    }
    .nav {
      width: 100%;
      margin: auto;
      > ul {
        margin-top: 100px;
      }
    }
  }
  .title h1 {
    &:after {
      font-size: 60px;
    }
  }
  .container {
    width: 1000px;
  }
  #section01 .container {
    .swiper-wrapper {
      width: 1000px;
      .swiper-slide {
        width: 1000px !important;
        &:nth-child(1) img {
          margin: 70px 100px;
        }
        &:nth-child(2) img {
          margin-left: 150px;
        }
        &:nth-child(3) {
          img {
            margin-left: 18%;
          }
        }
        &:nth-child(4) {
          img {
            margin-left: 120px;
          }
        }
      }
    }
  }
  #section03 .container {
    .contents {
      ul {
        li {
          width: 250px;
          &.desc {
            .inner {
              p {
                bottom: 50%;
              }
              span {
                bottom: 30%;
              }
            }
          }
          .inner {
            img {
              width: 250px;
              height: 400px;
            }
            p {
              font-size: 21px;
              bottom: -32%;
            }
            span {
              font-size: 15px;
              bottom: -32%;
            }
          }
        }
      }
    }
  }
  #section04 .contents {
    height: 630px;
    li {
      height: 630px;
      span {
        height: 230px;
        width: 230px;
        img {
          width: 170px;
        }
      }
    }
  }
  #footer .container {
    .sns {
      &::before,
      &:after {
        width: 28%;
      }
    }
    .contents {
      .footer01 {
        width: 900px;
      }
      .footer02 {
        width: 900px;
      }
      .footer03 {
        width: 900px;
      }
      .select {
        position: relative;
        margin: 0 auto;
        width: 900px;
        margin-top: 20px;
        right: auto;
        bottom: auto;
      }
    }
  }
}

@media all and (max-width: 1100px) {
  header {
    nav #gnb {
      &.menuOn .nav {
        height: 200vw !important;
      }
      .login ul {
        height: 130px;
      }
      .nav {
        > ul {
          flex-direction: column;
          margin-top: 150px;
          > li {
            display: flex;
            align-items: center;
            .depth02 {
              display: flex;
              flex-wrap: wrap;
              li {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }

  .title h1 {
    &:after {
      font-size: 40px;
    }
  }
  .container {
    width: 800px;
  }
  #section01 .container {
    .swiper-wrapper {
      width: 800px;
      .swiper-slide {
        width: 800px !important;
        &:nth-child(1) {
          img {
            margin: 80px 60px;
          }
        }
        &:nth-child(2) {
          a {
            margin-top: 7%;
          }
          img {
            margin-left: 120px;
          }
        }
        &:nth-child(3) {
          a {
            margin-top: 15%;
          }
          img {
            margin-left: 18%;
          }
        }
        &:nth-child(4) {
          img {
            margin-left: 120px;
          }
        }
      }
    }
  }
  #section02 .container {
  }
  #section04 .contents {
    height: 500px;
    li {
      height: 500px;
      span {
        height: 200px;
        width: 200px;
        img {
          width: 150px;
        }
      }
      h2 {
        font-size: 26px;
      }
    }
  }
  #footer .container {
    .map button {
      right: 80px;
    }
  }
}

@media all and (max-width: 950px) {
  #footer .container {
    .contents {
      .footer01,
      .footer02,
      .footer03,
      .select {
        width: 600px;
      }
      .footer01 {
        flex-wrap: wrap;
        li {
          font-size: 10px;
          flex-basis: 21%;
          margin-bottom: 10px;
          &:after {
            content: none;
          }
        }
      }
      .select {
        select,
        button {
          font-size: 11px;
        }
      }
    }
    .map {
      button {
        right: 50px;
        padding: 6px 11px;
        font-size: 20px;
      }
      img {
        height: 350px;
        &:nth-child(2) {
          height: 120px;
        }
      }
    }
  }
}

@media all and (max-width: 850px) {
  .title h1 {
    &:after {
      font-size: 30px;
    }
  }
  .container {
    width: 600px;
  }
  #section01 .container {
    .swiper-wrapper {
      height: 300px;
      width: 600px;
      .swiper-slide {
        height: 300px;
        width: 600px !important;
        &:nth-child(1) {
          img {
            margin: 70px 80px;
          }
        }
        &:nth-child(2) {
          img {
            margin-left: 80px;
            margin-bottom: 30px;
          }
        }
        &:nth-child(3) {
          img {
            margin-left: 15%;
          }
        }
        &:nth-child(4) {
          a {
            margin-top: 13%;
          }
          img {
            margin-left: 90px;
            margin-bottom: 30px;
          }
        }
        &:nth-child(5) {
          a {
            margin-top: 15%;
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 60px;
      height: 60px;
      top: 74%;
    }
    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
    }
    .swiper-pagination-bullet-active {
      width: 50px;
    }
  }
  #section02 .container {
    .contents {
      width: 600px;
      height: 880px;
      ul {
        li {
          img {
            width: 80%;
            height: 80%;
          }
        }
      }
    }
  }
  #section03 .container {
    .contents {
      ul {
        li {
          width: 180px;
          &.desc {
            .inner {
              p {
                bottom: 50%;
              }
              span {
                bottom: 23%;
              }
            }
          }
          .inner {
            img {
              width: 180px;
              height: 300px;
            }
            p {
              font-size: 16px;
              bottom: -40%;
            }
            span {
              font-size: 13px;
              bottom: -40%;
            }
          }
        }
      }
    }
  }
  #section04 .contents {
    flex-direction: column;
    li {
      width: 100%;
      align-items: flex-start;
      a {
        justify-content: flex-start;
        margin-left: 50px;
        align-items: center;
        width: 100%;
        display: flex;
        span {
          width: 130px;
          height: 130px;
        }
        h2,
        h3 {
          margin-top: 0;
        }
        h2 {
          margin: 0 30px;
          font-size: 28px;
        }
      }
    }
  }
  #footer .container {
    .sns {
      &::before,
      &:after {
        width: 0%;
      }
    }
  }
}

@media all and (max-width: 660px) {
  header nav #gnb {
    .nav > ul {
      > li {
        .depth02 {
          display: none;
        }
      }
    }
    .logo {
      left: 50px;
    }
  }

  .container {
    width: 450px;
  }
  #section01 .container {
    .swiper-wrapper {
      width: 450px;
      height: 250px;
      .swiper-slide {
        height: 250px;
        width: 450px !important;

        &:nth-child(1) {
          img {
            margin: 60px 20px;
          }
        }
        &:nth-child(2) {
          img {
            margin-left: 60px;
            margin-bottom: 25px;
          }
        }
        &:nth-child(3) {
          img {
            margin-left: 12%;
          }
        }
        &:nth-child(4) {
          a {
            margin-top: 15%;
          }
          img {
            margin-left: 70px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
    }
    .swiper-pagination-bullet-active {
      width: 30px;
    }
  }
  #section02 .container {
    .contents {
      width: 450px;
      height: 675px;
      ul {
        li {
          height: 170px;
          img {
            display: none;
          }
        }
      }
    }
  }
  #section03 .container {
    .contents {
      ul {
        flex-direction: column;
        align-items: center;
        li {
          width: 300px;
          margin-bottom: 30px;
          overflow: hidden;
          &.desc {
            span {
              bottom: 40%;
            }
          }
          .inner {
            img {
              width: 300px;
              height: 450px;
            }
            p {
              font-size: 30px;
            }
            span {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
  #section04 .contents {
    li {
      a {
        h3 {
          display: none;
        }
      }
    }
  }
  #footer .container {
    .sns {
      margin-bottom: 50px;
      li {
        img {
          width: 40%;
          margin-bottom: 15px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .contents {
      .footer01,
      .footer02,
      .footer03,
      .select {
        width: 480px;
      }
      .footer01 {
        li {
          flex-basis: 17%;
        }
      }
      .footer02 {
        font-size: 9px;
      }
    }
    .map {
      button {
        right: 50px;
        padding: 6px 11px;
        font-size: 20px;
      }
      img {
        height: 300px;
        &:nth-child(2) {
          height: 82px;
        }
      }
    }
  }
}
